.main{
	margin-top: 25px;
}
h1{
	font-size: 40px;
	text-align: center;
	text-shadow: 2px 2px 5px #01ACB4;
}
.clear{
	clear: both;
}
.task{
	width: 200px;
	margin: 60px auto 40px auto;
}
.result{
	width: 343px;
    margin: 0 auto;
}
.result .win{
	width: 171px;
    float: left;
}
.result .lose{
	width: 171px;
	float: left
}
.task input{
	text-align: center;
	padding: 20px;
	background-color: #02ADB4;
	border: 0px;
	font-size: 40px;
	width: 200px;
	box-shadow: -12px -11px 7px #888888;
}
.point{
	float: left;
}
.point img{
	width:150px;
	height: 150px;
}
.image{
	width: 604px;
    margin: 45px auto;
}
.total-score{
	width: 300px;
	margin: 35px auto;
}
.score{
	margin: 0 auto;
	width: 182px;
}
.score input{
	background-color: #E58F7E;
    padding: 28px;
    font-size: 30px;
    width: 150px;
    text-align: center;
    border: 0px;
       box-shadow: 11px 13px 11px #087E8A;
}
.win input, .lose input{
	padding: 10px;
    text-align: center;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    font-size: 37px;
    background-color: #9CB7A6;
    border: 1px solid #FBFBF1;
}