body {
    background-color: #492a08;
}

div.main {
 background: yellow;
 padding: 20px;
 
}

a.demo:hover {
    color: red;
    text-decoration: underline;
}

a.allList:focus, a.clickHere:focus {
    background-color: #492a08;
    background-color: transparent;
    color: green;
}
a.allList:hover, a.clickHere:hover {
    color: red;
}